
.dash-container{
    width:100%;
    height:80vh;
}

.dash-btns{
    height:60px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    justify-content: center;
}